
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html, body, #root {
  height: 100%;

}

#root {
  overflow: hidden;
}

.change-width {
  flex:1 1 auto;
}

body {
  background-color: #737373;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

header {
  height: 40px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
    background-position: center;
  background: linear-gradient(180deg, #4F772D 15.98%, #000000 306.76%);
}

header.light {
  background: linear-gradient(180deg, #90A955 15.91%, #000000 207.01%);
}

.tox-editor-header {
  background: #90A955!important;
}

.tox .tox-menubar, .tox .tox-toolbar__primary, .tox-toolbar-overlord, .tox .tox-toolbar {
  background: inherit !important;
  background-color: unset !important;
}

.tox-statusbar {
  display: none !important;
}

iframe {
  background: #737373 !important;
}

.h-calc {
  height: calc(100% - 40px);
}

.tox.tox-tinymce {
  height: 100%;
  min-height: calc(100% - 150px) !important;
  margin-bottom: 40px;
}

@media screen and (max-height: 685px) {

  .tox.tox-tinymce {
    max-height: 320px;
  }
}

@media screen and (max-width: 1000px) {
  .h-calc {
    height: 100%;
    flex-direction: column;
  }
  .change-width {
    width: 100%;
    max-height: 100vh;
    flex:1 0 auto;
  }

  #root {
    overflow: auto;
  }

  #root, body, html {
    max-height: 200vh;
  }

  #map {
    margin-top: 20px;
    max-height: 500px;
  }
}